h1, h2, h3, h4, p {
  text-align: center;
  font-family: Helvetica;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

.headerlinks {
  text-align: center;
  font-size: 18px;
}

.newyork {
  background-image: url(../images/the-flatiron-building.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 23px;
  font-weight: bold;
  color: white
}

.header {
  background-image: url(../images/the-flatiron-building.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.copyright {
  text-align: left;
  font-size: 11px;
  color: white;
  background-color: dimgray;
}
